.table {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding: 20px 0;
  width: 100%;
}

.table tr th,
.table tr td {
  padding: 8px 0;
  text-align: left;
}

.table tr th {
  vertical-align: super;
  min-width: 120px;
}